@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700;900&display=swap");

.leaflet-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: 450px;
  max-height: 100vh;
  border-radius: 10px;
  overflow: hidden;
}

a > svg {
  display: none;
}
